.light {
    background-color: #eeeff2;
}

.dark {
    background-color: #dfe1e7;
}

div {
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    border-top: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    flex-grow: 0;
    flex-shrink: 0;
}

div:last-of-type {
    border: 4px solid black;
    width: 100px;
    height: 100px;
    align-items: center;
    background-color: #687291;
    vertical-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    height: 100vh;
    margin: 0;
    min-height: max-content;
}